#cards-img img {
  width: 100%;
  height: 60vh;
  max-width: 300px;
  color: #891f85;
  border-radius: 0.25rem !important;
  border: 1px solid orchid !important;
  box-shadow: 0 0 15px rgb(216 98 212 / 53%);
}
.card-img {
  padding: 10px;
}
.card {
  padding: 50px;
}
#card-btn {
  text-decoration: none;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  transition: 0.5s;
  margin-top: 40px;
  font-size: 25px;
  letter-spacing: 0.5px;
  color: #fff !important;
  text-shadow: 0 0 7px #fff !important;
  box-shadow: 1px 3px 15px hsl(0deg 0% 100% / 28%) !important;
  padding: 14px 50px;
  border-radius: 50px;
  border: 3px solid orchid !important;
}
