.join {
  background: #1e1f25;
  background-size: cover;
  padding: 60px 0;
  box-shadow: 0 2px 15px hsl(0deg 0% 100% / 18%);
}
.join-header h1 {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}
.join-header p {
  margin-top: 0;
  margin-bottom: 1rem;
  color: #fff;
}
#join-btn {
  background-color: hsla(0, 0%, 100%, 0);
  font-family: Raleway, sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 35px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  margin-top: 10px;
  border: 2px solid #fff;
  color: #fff;
}
